

//****************************************************************************
//  Custom variables
//***************************************************************************/
$primary-color: #003C58;
$secondary-color: #fff;
$tretiary-color:#304249;
$link-color:#009CB3;
$counter-color:#EAB05C;
$text-color: #0a0a0a;
$button-bgColor:#048FA3;
$date-color:#D6DDE0;


//****************************************************************************
//  Font Weight
//***************************************************************************/
$light-weight:300;
$bold-weight: 800;
