 <!-- experts section -->
<section class="experts">
    <div class="container-fluid">
        <div class="card">            
            <div class="card-body">                
                <svg xmlns="http://www.w3.org/2000/svg" width="106" height="74.6" viewBox="0 0 106 74.6"><path d="M23,150.8q9.6,0,15.5,5.7t5.9,15.1a23.328,23.328,0,0,1-1.8,9.1A74.832,74.832,0,0,1,36.2,192L14.6,225.4H-9.2L7.2,192a19.908,19.908,0,0,1-6.3-7.2A20.83,20.83,0,0,1-1.4,175q0-10.8,7.1-17.5A24.276,24.276,0,0,1,23,150.8Zm52.4,0q9.6,0,15.5,5.7t5.9,15.1a23.328,23.328,0,0,1-1.8,9.1A74.832,74.832,0,0,1,88.6,192L67,225.4H43.2L59.6,192a19.908,19.908,0,0,1-6.3-7.2A20.83,20.83,0,0,1,51,175q0-10.8,7.1-17.5A24.276,24.276,0,0,1,75.4,150.8Z" transform="translate(9.2 -150.8)" fill="#eab05c"/></svg>
                <div class="card-content">
                <h4>Bei KBB TURBo Kann ich mich beruflich verwirklichen.</h4>            
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. </p>

                <ul>
                    <li><u> Angebote für Schüler</u></li>
                    <li><u>Ausbildung</u> </li>
                    <li><u>Studium</u></li>
                </ul>
                <p>Gestalten Sie unsere Geschichte mit und verwirklichen Sie sich in einem zukunftsorientierten
                    Unternehmen.</p>
                <a href="" class="btn">offenen Stellen bei KBB Turbo</a>
            </div>
        </div>
        <div class="experts-img">
                <img src="data;" data-src="{{webRoot}}/assets/images/experts.png" class="w-100 d-block lazy" alt="Experts Image" data-aos="flip-right">    
        </div>
    </div>
    </div>
</section>