<footer class="page-footer" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
  <div class="container-fluid">
    <div class="main-footer">
      <div class="footer-content">
        <div class="footer-head">
          <div class="brand-logo">
            <a href="{{webRoot}}/index.html">
              <img src="data:," data-src="{{webRoot}}/assets/images/kbb-Logo.png" alt="logo" class="desktop-logo lazy">
            </a>
          </div>
          <div class="content">
            <h6>Boost your
              power.</h6>
            <h6>Boost your
              efficiency.</h6>
          </div>
          <div class="line"></div>
          <div class="social-media">
            <a href="#">
              <svg data-name="Component 42 – 1" xmlns="http://www.w3.org/2000/svg" width="51.652" height="51.652"
                viewBox="0 0 51.652 51.652">
                <path data-name="Path 11814"
                  d="M25.826,0A25.826,25.826,0,1,0,51.652,25.826,25.826,25.826,0,0,0,25.826,0M13.048,31.083l4.59-7.57L14.21,17.47h5.811l3.406,6.048-4.595,7.565Zm21.667,8h-6.2L22.6,28.7l9.147-16.077h6.22L28.818,28.7Z"
                  />
              </svg>


            </a>
            <a href="">
              <svg data-name="Component 42 – 1" xmlns="http://www.w3.org/2000/svg" width="51.652" height="51.652"
                viewBox="0 0 46.155 46.155">
                <path data-name="Path 11137"
                  d="M23.078,0A23.078,23.078,0,1,0,46.155,23.078,23.077,23.077,0,0,0,23.078,0M17.416,32.273H13.473V19.78h3.944ZM15.344,18.217h-.028a2.177,2.177,0,1,1,.055-4.335,2.178,2.178,0,1,1-.027,4.335M33.193,32.273H28.721V25.808c0-1.692-.7-2.847-2.236-2.847a2.257,2.257,0,0,0-2.134,1.531,2.828,2.828,0,0,0-.1,1.021v6.76H19.824s.056-11.452,0-12.493h4.429V21.74c.263-.857,1.677-2.081,3.937-2.081,2.8,0,5,1.8,5,5.667Z"
                  />
              </svg>
            </a>
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="52" height="52"
                viewBox="0 0 52 52">
                <defs>
                  <clipPath>
                    <rect width="19.895" height="14" fill="#fff" />
                  </clipPath>
                </defs>
                <g fill="none" stroke="#fff" stroke-width="2">
                  <circle cx="26" cy="26" r="26" stroke="none" />
                  <circle cx="26" cy="26" r="25" fill="none" />
                </g>
                <g transform="translate(20 15.553)">
                  <g transform="translate(13.673 0.25) rotate(90)">
                    <g transform="translate(-0.251 -0.327)" clip-path="url(#a)">
                      <path
                        d="M18.427,5.67H4.819L8.094,2.4A1.344,1.344,0,0,0,8.5,1.417,1.434,1.434,0,0,0,7.087,0a1.337,1.337,0,0,0-.978.411L.469,6.051A1.359,1.359,0,0,0,0,7.087,1.285,1.285,0,0,0,.458,8.113l5.651,5.651a1.337,1.337,0,0,0,.978.411A1.433,1.433,0,0,0,8.5,12.757a1.344,1.344,0,0,0-.411-.978L4.819,8.5H18.427a1.417,1.417,0,1,0,0-2.835"
                        transform="translate(0.207 0.241)" fill="#fff" />
                    </g>
                  </g>
                </g>
              </svg>

            </a>
          </div>
        </div>
        <div class="links">
          <div class="important-links">
            <div class="links1 link">
              <p>Kompressorenbau Bannewitz GmbH
              </p>
              <p>Windbergstraße 45
              </p>
              <p>01728 Bannewitz</p>
            </div>
            <div class="links2 link">
              <p>Anfahrt Warenlieferung
              </p>
              <p>Horkenstraße 2a
              </p>
              <p>01728 Bannewitz</p>
            </div>
          </div>
          <div class="link3 link">
            <p class="heading-paragraph">Kontakt zu KBB Turbo</p>
            <a href=""> E-Mail: <u>info@kbb-turbo.com</u>
            </a>
            <a href="">Telefon: +49 351 4085 626</a>
          </div>
          <div class="link4 link">
            <ul>
              <li><a href=""><u>Kontakt & Ansprechpartner</u></a></li>
              <li><a href=""><u>Service-Partner</u> </a></li>
              <li><a href=""><u>Ersatzteilanfrage</u></a></li>
              <li><a href=""><u>Download-Portal</u></a></li>
              <li><a href=""><u>24/7 Notfall-Service</u></a></li>
            </ul>
          </div>
          <div class="link5">
            <ul>
              <li><a href=""><u>Presse & Medienkontakt</u></a></li>
              <li><a href=""><u>Datenschutz</u>
                </a></li>
              <li><a href=""><u>Impressum</u></a></li>
            </ul>
          </div>
        </div>
        <p class="copyright">© Kompressorenbau Bannewitz GmbH</p>
      </div>
    </div>
  </div>
</footer>
<!-- END OF PAGE FOOTER -->