<!-- landing section -->

<section class="landing-section" >
    <div class="container-fluid">
        <div class="content-wrapper">
            <div class="content">
                <h4>Boost your
                    power.</h4>
                <h4>Boost your
                    efficiency.</h4>
                <p>Individuelle Lösungen und stetig neue Innovation zur Optimierung von Turboladern. Langlebigkeit und
                    Zuverlässigkeit zeichnen unsere Produkte aus, um sicherzustellen, dass Sie Ihre Ziele bestmöglich
                    erreichen.</p>
                <div class="buttons">
                    <a class="btn btn1">Innovation & Entwicklung</a>
                    <a class="btn btn2">Produkte</a>
                </div>
            </div>
        </div>
        <div class="img-division">
            <img src="data:," data-src="{{webRoot}}/assets/images/landing-machine.png" alt="landing-machine"
                class="lazy">
        </div>
    </div>
</section>