<!-- location section -->

<section class="location">
    <div class="container-fluid">
        <div class="location-info">
        <div class="location-content">
            <h4 data-aos="fade-down">Unsere Servicepartner, <br>
                für Weltklasse Service.</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. </p>
            <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
            <a href="" class="btn">alle Servicepartner</a>
        </div>
        <div class="map" data-aos="zoom-in-left">
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d65249384.52122904!2d120.79840764687502!3d3.46931515879296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959051f5f0ef795%3A0x861bd887ed54522e!2sGujarat!5e0!3m2!1sen!2sin!4v1698503135596!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            <img src="data;" data-src="{{webRoot}}/assets/images/map.png" class="lazy" id="Map" alt="Map">
        </div>        
        </div>
    </div>
</section>