<!-- header -->
<header>
    <div class="container-fluid">
        <div class="page-header">
            <div class="brand-logo">
                <a href="{{webRoot}}/index.html">
                    <img src="{{webRoot}}/assets/images/kbb-Logo.png" id="logoImage" alt="logo" class="lazyload">
                </a>
            </div>
            <div class="content">
                <div class="search">
                    <img src="{{webRoot}}/assets/images/searchicon.png" id="Search" class="search-icon" alt="search icon">
                    <div class="search-tab">
                        <div class="colored-part"></div>
                        <img src="{{webRoot}}/assets/images/search-icon2.png" class="search-icon2" alt="search-icon">
                        <input type="text" placeholder="Search.." id="search-tab" class="bg-light">
                    </div>

                </div>
                <div class="language">
                    <img src="{{webRoot}}/assets/images/languageicon.png" id="languageicon" alt="language">
                    <div class="popover-content">
                        <div class="colored-part"></div>
                        <ul class="languages">
                            <li class="dropdownItem">deutch</li>
                            <li class="dropdownItem">English</li>
                            <li class="dropdownItem">German</li>
                        </ul>
                    </div>
                </div>
                <div id="menuTrigger" class="menu-trigger">
                    <div class="bars"></div>
                    <div class="bars"></div>
                    <div class="bars"></div>
                </div>
            </div>
            <nav class="nav-bar">
                <ul class="nav-items">
                    <li class="nav-link" id="navLink1">PRODUKTE
                        <svg xmlns="http://www.w3.org/2000/svg" id="dropdown-toggler" class="dropdown-arrow"
                            width="16.797" height="9.251" viewBox="0 0 16.797 9.251">
                            <path data-name="Path 805"
                                d="M19.4,19.079a.3.3,0,0,1-.214-.517l7.383-7.383L19.186,3.8a.3.3,0,1,1,.428-.428l7.6,7.594a.3.3,0,0,1,0,.429l-7.6,7.6A.3.3,0,0,1,19.4,19.079Z"
                                transform="translate(19.579 -18.549) rotate(90)" fill="#fff" stroke="#000"
                                stroke-width="1" />
                        </svg>
                        <div class="dropdown-content">
                            <div class="colored-part"></div>
                            <ul class="dropdown dropdown-item">
                                <li class="dropdown-link"> <span class="link-text"> turbolader productserien </span>
                                    <ul class="subdropdown-list">
                                        <li class="dropdownItem">st27 Serie</li>
                                        <li class="dropdownItem">K2B</li>
                                        <li class="dropdownItem">HPR serie</li>
                                        <li class="dropdownItem">M40</li>
                                    </ul>
                                </li>
                                <li class="dropdown-link"><span class="link-text">Exhaust gas aftertreatment</span>
                                    <ul class="subdropdown-list">
                                        <li class="dropdownItem">IMO 3</li>
                                        <li class="dropdownItem">Stage V</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" id="navLink2">SERVICE
                        <svg xmlns="http://www.w3.org/2000/svg" class="dropdown-arrow"
                            width="16.797" height="9.251" viewBox="0 0 16.797 9.251">
                            <path  data-name="Path 805"
                                d="M19.4,19.079a.3.3,0,0,1-.214-.517l7.383-7.383L19.186,3.8a.3.3,0,1,1,.428-.428l7.6,7.594a.3.3,0,0,1,0,.429l-7.6,7.6A.3.3,0,0,1,19.4,19.079Z"
                                transform="translate(19.579 -18.549) rotate(90)" fill="#fff" stroke="#000"
                                stroke-width="1" />
                        </svg>
                        <div class="dropdown-content">
                            <div class="colored-part"></div>
                            <ul class="dropdown-list dropdown dropdown-item">
                                <li class="dropdown-link"><span class="link-text">SERVICES</span>
                                    <ul class="subdropdown-list">
                                        <li class="dropdownItem">Subitem 1</li>
                                        <li class="dropdownItem">Subitem 2</li>
                                        <li class="dropdownItem">Subitem 3</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link">Karriere

                    </li>
                    <li class="nav-link">ÜBER KBB
                        <svg xmlns="http://www.w3.org/2000/svg"  class="dropdown-arrow"
                            width="16.797" height="9.251" viewBox="0 0 16.797 9.251">
                            <path data-name="Path 805"
                                d="M19.4,19.079a.3.3,0,0,1-.214-.517l7.383-7.383L19.186,3.8a.3.3,0,1,1,.428-.428l7.6,7.594a.3.3,0,0,1,0,.429l-7.6,7.6A.3.3,0,0,1,19.4,19.079Z"
                                transform="translate(19.579 -18.549) rotate(90)" fill="#fff" stroke="#000"
                                stroke-width="1" />
                        </svg>
                        <div class="dropdown-content">
                            <div class="colored-part"></div>
                            <ul class="dropdown dropdown-item">
                                <li class="dropdown-link"> <span class="link-text"> turbolader productserien </span>
                                    <ul class="subdropdown-list">
                                        <li class="dropdownItem">st27 Serie</li>
                                        <li class="dropdownItem">K2B</li>
                                        <li class="dropdownItem">HPR serie</li>
                                        <li class="dropdownItem">M40</li>
                                    </ul>
                                </li>
                                <li class="dropdown-link"><span class="link-text">Exhaust gas aftertreatment</span>
                                    <ul class="subdropdown-list">
                                        <li class="dropdownItem">IMO 3</li>
                                        <li class="dropdownItem">Stage V</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>