<!-- picture work section -->
<section class="picture-work">
    <div class="container-fluid">
        <div class="card">
            <img  src="data;" data-src="{{webRoot}}/assets/images/Picture.png" data-aos="flip-left" class="d-block w-100 lazy" alt="logo">
            <div class="card-body">
                <h4 class="card-title">Mit Qualität und Umweltbewusstsein
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
                <a href="#" class="btn btn-primary">mehr über KBB Turbo</a>
            </div>
        </div>
    </div>
</section>