<!-- services section -->
<section class="services">
  <div class="container-fluid">
    <div class="services-wrapper">
      <div class="heading-container">
        <h4 data-aos="fade-right">Service, der Lösungen schafft</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum.</p>
      </div>
      <div class="tabs-container">
        <div class="tab-container">
          <h5 class="toggleTab">Swap K2S-Austauschprogramm</h5>
          <div class="tab-content" data-aos="zoom-out-right">
            <h5>Swap K2S-Austauschprogramm</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua.</p>
            <a href="" class="btn">mehr erfahren</a>
          </div>
        </div>
        <div class="tab-container">
          <h5 class="toggleTab">Reparatur & Wartung</h5>
          <div class="tab-content" data-aos="flip-up">
            <h5>Reparatur, Wartung, Ersatzeile & Werkzeug-Kits</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua.</p>
            <a href="" class="btn">mehr erfahren</a>
          </div>
        </div>
        <div class="tab-container">
          <h5 class="toggleTab">Retrofit & Wartung</h5>
          <div class="tab-content" data-aos="flip-up">
            <h5>Retrofit & Wartung</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua.</p>
            <a href="" class="btn">mehr erfahren</a>
          </div>
        </div>
        <div class="tab-container">
          <h5 class="toggleTab">Schulungen</h5>
          <div class="tab-content" data-aos="zoom-out-down">
            <h5>Schulungen</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua.</p>
            <a href="" class="btn">mehr erfahren</a>
          </div>
        </div>

      </div>
      <div class="img-div">
        <img src="data;" data-src="{{webRoot}}/assets/images/services.png" class="lazy" alt="logo">
      </div>
    </div>
  </div>
</section>